<div class="container-xl">
  <h1 class="text-center my-2">Treehouses</h1>
  <div class="d-flex justify-content-between flex-wrap">
    <div class="text-center"><%= link_to new_treehouse_path do %>
      <button class="btn btn-success text-white my-1">Offer treehouse</button>
      <% end %>
    </div>
    <%= simple_form_for :query, url: treehouses_path, method: "GET", html: { class: "form-inline-index my-1", style: "position: relative" } do |f| %>
      <%= f.input :name %>   
      <%= f.submit "Search", class: "btn btn-success", style: "position: absolute; bottom: 0; right: 0" %>
    <% end %>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 order-md-2" style="z-index: 1">
      <div class="sticky-top" id="treehouse_map">
        <div style="width: 100%; height: clamp(0vh, 70vh, 494.3125px)">
          <div id="map"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 order-md-1">
      <div class="row">
        <% @treehouses.sort_by { |i| i.name.upcase }.each do |treehouse| %>
          <div class="col-6 col-sm-4 col-md-6" id="card_column">
            <%= link_to treehouse_path(treehouse) do %>
              <div class="card-treehouse">
                <%= cl_image_tag treehouse.photo.key, aspect_ratio: 1.77777777778, crop: :fill %>
                <div class="card-treehouse-overlay">
                  <div class="text-center w-100 h-100 d-flex justify-content-center align-items-end" >
                    <p style="text-shadow: black 0px 0px 8px" ><%= treehouse.name %>, <%= treehouse.address.match(/\A\S* ?\S*/)[0].to_s.last == "," ? treehouse.address.match(/\A\S* ?\S*/)[0].to_s.chop : treehouse.address.match(/\A\S* ?\S*/)[0].to_s %>, <%= treehouse.price_per_day %>€</p>
                  </div>
                </div>
              </div>        
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
