

<div class="show-container mt-3 ml-15 mr-15">

  <div class="show-card">
     <%= cl_image_tag @treehouse.photo.key, aspect_ratio: 1.77777777778, crop: :fill, class:"show-card-img" %>
    <div class="show-card-infos">
      <div>
        <h1 class="mb-3"><%=@treehouse.name%></h1>
        <p class="mb-3"><%=@treehouse.description%></p>
        <p class="mb-3">The price is only at <strong><%=@treehouse.price_per_day%>€</strong> per day!</p>
        <p class="mb-3">You can cancel without problems until <strong> <%=@treehouse.cancel_days%></strong> days before your trip!</p>
        <p class="mb-3"> Maximal number of guests is <strong> <%=@treehouse.capacity%></strong>!</p>
      </div>
      <% if @treehouse.user.photo.present? %>
           <%= cl_image_tag @treehouse.user.photo.key, class: "show-card-user avatar-large-bordered" %>
      <% else %>
          <%= image_tag "Placeholder.jpg", class: "show-card-user avatar-large-bordered" %>
      <%end%>
    </div>
  </div>
</div>

<div class="show-container mt-3">
  <div class="row justify-content-center mt-5 mb-5">
    <%= link_to new_treehouse_booking_path(@treehouse) do %>
    <button class="btn btn-success text-white">Book treehouse</button>
    <% end %>
  </div>
</div>
