<div class="container">
  <h1><%= @treehouse.name %></h1>
  <br>
    <%= cl_image_tag @treehouse.photo, height: 300, width: 400, crop: :fill %>

    <%= link_to "Back to all treehouses", root_path %>

  <div class="row">
      <div class="col-6 col-sm-4 col-md-3">
       <table class="table table-bordered">
        <tbody>
          <thead>
            <th>Name</th>
            <th>Description</th>
            <th>Price per Day</th>
            <th>Cancel Days</th>
          </thead>
          <% @treehouse.each do |treehouse| %>
            <tr>
              <td><%= treehouse.name %></td>
              <td><%= treehouse.description %></td>
              <td><%= treehouse.price_per_day %></td>
              <td><%= treehouse.cancel_days %></td>
            </tr>
          <% end %>
        </tbody>
      </table>


    <!--   <h3>Reviews</h3>
        <% if @treehouse.reviews.empty? %>
          <p>Be the first to let a review</p>
        <% else %>
          <ul class="list-group">
            <% @treehouse.reviews.each do |review| %>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <span class="badge badge-primary badge-pill">
                  <% counter = 0 %>
                  <% 5.times do %>
                    <i class="fa <%= review.rating > counter ? 'fa-star' : 'fa-star-o' %>"></i>
                    <% counter += 1 %>
                  <% end %>
                </span>
                <%= review.content %>
              </li>
            <% end %>
          </ul>
        <% end %> -->
  </div>
</div>
