

<div class="show-container mt-3 ml-15 mr-15">

  <div class="show-card">
     <%= cl_image_tag @treehouse.photo.key, aspect_ratio: 1.77777777778, crop: :fill, class:"show-card-img" %>
    <div class="show-card-infos">
      <div>
        <h1><%=@treehouse.name%></h1>
        <p><%=@treehouse.description%></p>
        <p>The price is only at <strong>$<%=@treehouse.price_per_day%></strong> per day!</p>
        <p>You can cancel without problems until <strong> <%=@treehouse.cancel_days%></strong> days before your trip!</p>
      </div>
      <% if @treehouse.user.photo.present? %>
           <%= cl_image_tag @treehouse.user.photo.key, class: "show-card-user avatar-bordered" %>
      <% else %>
          <%= image_tag "https://blog.ratioform.de/wp-content/uploads/2017/04/der-weg-vom-baum-zum-papier.jpg", class: "show-card-user avatar-bordered" %>
      <%end%>
    </div>
  </div>
</div>

<div class="show-container mt-3">
  <div class="row justify-content-center mt-5 mb-5">
    <%= link_to new_treehouse_booking_path(@treehouse) do %>
    <button class="btn btn-danger text-white">Book treehouse</button>
    <% end %>
  </div>
</div>
