<div class="container-treehouse">
  <h1>
    Book <%= @treehouse.name %>
  </h1>
  <%= simple_form_for([@treehouse, @booking]) do |f| %>
  <%= f.input :start_date, label: "Day of Arrival", as: :string, input_html: {class: "datepicker", id: "range_start"} %>
  <br>
  <%= f.input :end_date, label: "Day of Departure", as: :string, input_html: {class: "datepicker", id: "range_end"} %>
  <br>
  <%= f.input :guests, label: "Number of guests", as: :integer%>
  <br>
  <div>
    <p class="d-inline">
      Price per Night:
    </p>
    <p class="d-inline" id="price">
      <%= @treehouse.price_per_day %>
    </p>
  </div>
  <br>
  <div>
    <p class="d-inline">
      Total Price for your Stay:
    </p>
    <p class="d-inline" id="total-price">
      0
    </p>
  </div>
  <br>
  <%= f.submit class: "btn btn-danger rounded"%>
  <% end %>
</div>


